@using System.Threading
@using Abp.Timing
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>Adbp</title>
    <link href="~/wwwroot/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/css")
    <!-- View specific styles -->
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
    <script>
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/js2")
    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
