@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = ZeroPageNames.OrganizationUnit;
    
}
<h5>
    @L("OrganizationUnit")
    <small class="text-muted">@L("OrganizationUnitOrUserGroup")</small>
</h5>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <h4>@L("OrganizationUnitTree")</h4>
                </div>
                <div class="float-right">
                    <button id="btn-root_add" type="button" class="btn btn-default" data-toggle="modal" data-target="#organization-modal_add" disabled="disabled">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;@L("AddRootOrganizationUnit")
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="w-100">
                    <div id="organization-jstree" style="max-height:500px;overflow-y:auto;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col organization-deselect">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <h4>@L("OrganizationUnitMember")</h4>
                </div>
                <div class="float-right">
                    <p>@L("SelectAOrganizationUnit")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col d-none organization-select">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <div id="organization-display"></div>
                </div>
                <div class="float-right">
                    <button id="btn-organization_addUser" type="button" class="btn btn-default" data-toggle="modal" data-target="#organization-modal_addUser">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;@L("AddAMemberOfOrganizationUnit")
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="w-100">
                    <div class="bd-highlight adbp-toolbar">
                        <div class="float-right">
                            <div class="input-group">
                                <input id="table-search" type="text" class="form-control" placeholder="search username">
                            </div>
                        </div>
                    </div>
                    <table id="table-members" class="display">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@L("UserName")</th>
                                <th>@L("Name")</th>
                                <th>@L("Surname")</th>
                                <th>@L("AddMemberTime")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="organization-modal_add" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="index-form_createOrganizationUnit" action="api/services/app/organizationUnit/createOrganizationUnit">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-plus fa-sm text-primary"></i><span class="text-muted pl-2">@L("Create")</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label adbp-mask">@L("DisplayName")</label>
                        <div class="col-sm-10">
                            <input type="text" name="DisplayName" data-vd="{name:'@L("DisplayName")', r:true, maxL:50}" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                    <button type="button" class="btn btn-primary adbp-formSubmit">@L("Save")</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="organization-modal_addUser" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span>@L("SelectUsersToAddInOrg")</span>
                </h5>
            </div>
            <div class="modal-body">
                <div class="bd-highlight adbp-toolbar">
                    <div class="float-right">
                        <div class="input-group">
                            <input id="table-search_toselect" type="text" class="form-control" placeholder="search username">
                        </div>
                    </div>
                </div>
                <table id="table-toselect">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@L("UserName")</th>
                            <th>@L("Name")</th>
                            <th>@L("Surname")</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                <button type="button" id="organization-modal_addUser-submit" class="btn btn-primary">@L("Save")</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Html.IncludeScript("~/wwwroot/es5/ZeroOrganizationUnit/Index.js")
}