@using Abp.Configuration
@using Adbp.Zero.Configuration.Dto
@using Adbp.Zero
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = ZeroPageNames.SystemSettings;

    IReadOnlyList<SettingDefinitionOutput> SettingDefinitions = ViewBag.SettingDefinitions;
    int? TenantId = ViewBag.TenantId;
    
}
@{
    IEnumerable<Tuple<SettingGroupOutput, List<SettingDefinitionOutput>>> GroupSettingDefinition(params string[] groupNames)
    {
        foreach (var groupName in groupNames)
        {
            var group = new SettingGroupOutput
            {
                GroupName = groupName,
                GroupDisplay = SettingDefinitions.FirstOrDefault(x=>x.GroupName == groupName)?.GroupDisplay
            };
            yield return new Tuple<SettingGroupOutput, List<SettingDefinitionOutput>>(group, SettingDefinitions.Where(x => x.GroupName == groupName).ToList());
        }
    }

    string GetValue(string name)
    {
        return TenantId == null ? SettingManager.GetSettingValueForApplication(name)
                                                : SettingManager.GetSettingValueForTenant(name, TenantId.Value);
    }

    bool CanChange(SettingDefinitionOutput output)
    {
        return output.Name != "Abp.Timing.TimeZone";
    }

    string GetAction(SettingDefinitionOutput output)
    {
        return CanChange(output) ? (TenantId != null ? "/api/services/app/configuration/changeSettingForTenant" :
        "/api/services/app/configuration/changeSettingForApplication") : "#";
    }

    string GetTypeStr(SettingDefinitionOutput output)
    {
        return output.Name.Contains("Password") ? "password" : "text";
    }
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb adbp-breadcrumb-background">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Settings</li>
    </ol>
</nav>
<ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item">
        @*日期和时间格式，设置默认语言*@
        <a class="nav-link active" data-toggle="tab" href="#nav-time_Language">@L("Settings")</a>
    </li>
    <li class="nav-item">
        @*如登录失败后启用用户的账户锁定等*@
        <a class="nav-link" data-toggle="tab" href="#nav-security">@L("Securities")</a>
    </li>
    <li class="nav-item">

        <a class="nav-link" data-toggle="tab" href="#nav-services">@L("LDAPMail")</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade show active" id="nav-time_Language" role="tabpanel">
        @{
            foreach (var gp in GroupSettingDefinition(
                ZeroConsts.SettingGroups.SettingGroups_DATETIME,
                ZeroConsts.SettingGroups.SettingGroups_LanguageTimeZone,
                ZeroConsts.SettingGroups.SettingGroups_BackgroundWorkers,
               ZeroConsts.SettingGroups.SettingGroups_Others))
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@gp.Item1.GroupDisplay</h5>
                        @foreach (var definition in gp.Item2)
                        {
                        <form class="form-inline card-text adbp-ajaxForm" action="@GetAction(definition)">
                            <input type="hidden" name="Name" value="@definition.Name" />
                            <div class="form-group mb-2">
                                <input type="text" class="form-control-plaintext" value="@definition.DisplayName" readonly>
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                @if (CanChange(definition))
                                {
                                    <input type="text" name="Value" class="form-control" value="@GetValue(definition.Name)">
                                }
                                else
                                {
                                    <input type="@GetTypeStr(definition)" class="form-control-plaintext" value="@GetValue(definition.Name)" readonly>
                                }
                            </div>
                            @if (CanChange(definition))
                            {
                                <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-check"></i></button>
                            }
                        </form>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="nav-security" role="tabpanel">
        @{
            foreach (var gp in GroupSettingDefinition(ZeroConsts.SettingGroups.SettingGroups_UserManagement))
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@gp.Item1.GroupDisplay</h5>
                        @foreach (var definition in gp.Item2)
                        {
                            <form class="form-inline card-text adbp-ajaxForm" action="@GetAction(definition)">
                                <input type="hidden" name="Name" value="@definition.Name" />
                                <div class="form-group mb-2">
                                    <input type="text" class="form-control-plaintext" value="@definition.DisplayName" style="width:450px;" readonly>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    @if (CanChange(definition))
                                    {
                                        <input type="text" name="Value" class="form-control" value="@GetValue(definition.Name)">
                                    }
                                    else
                                    {
                                        <input type="@GetTypeStr(definition)" class="form-control-plaintext" style="width:450px;" value="@GetValue(definition.Name)" readonly>
                                    }
                                </div>
                                @if (CanChange(definition))
                                {
                                    <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-check"></i></button>
                                }
                            </form>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="nav-services" role="tabpanel">
        @{
            foreach (var gp in GroupSettingDefinition(
                ZeroConsts.SettingGroups.SettingGroups_LDAP,
                ZeroConsts.SettingGroups.SettingGroups_Mail))
            {
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@gp.Item1.GroupDisplay</h5>
                        @foreach (var definition in gp.Item2)
                        {
                            <form class="form-inline card-text adbp-ajaxForm" action="@GetAction(definition)">
                                <input type="hidden" name="Name" value="@definition.Name" />
                                <div class="form-group mb-2">
                                    <input type="text" class="form-control-plaintext" value="@definition.DisplayName" readonly>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    @if (CanChange(definition))
                                    {
                                        <input type="text" name="Value" class="form-control" value="@GetValue(definition.Name)">
                                    }
                                    else
                                    {
                                        <input type="@GetTypeStr(definition)" class="form-control-plaintext" value="@GetValue(definition.Name)" readonly>
                                    }
                                </div>
                                @if (CanChange(definition))
                                {
                                    <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-check"></i></button>
                                }
                            </form>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
