@{
    ViewBag.Title = "LoginAttempt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = ZeroPageNames.LoginAttemptLog;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb adbp-breadcrumb-background">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">LoginAttemptLog</li>
    </ol>
</nav>
<div class="card adbp-background">
    <div class="card-body">
        <div class="bd-highlight adbp-toolbar">
            <div class="float-right">
                <div class="input-group">
                    <input id="table-search" type="text" class="form-control" placeholder="search">
                </div>
            </div>
        </div>
        <table id="logAttemptLog-table" class="display">
            <thead>
                <tr>
                    <th>@L("UserName")</th>
                    <th>@L("IpAddress")</th>
                    <th>@L("Client")</th>
                    <th>@L("Result")</th>
                    <th>@L("OccurrenceTime")</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts {
    @Html.IncludeScript("~/wwwroot/es5/ZeroAnalasy/LoginAttemptLog.js")
}