@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = PageNames.OrganizationUnit;
}
<h5>
    组织机构
    <small class="text-muted">应用组织机构和行政区划到用户和实体</small>
</h5>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <h4>组织结构树</h4>
                </div>
                <div class="float-right">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#organization-modal_add">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;添加根组织
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="w-100">
                    <div id="organization-jstree" style="max-height:500px;overflow-y:auto;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col organization-deselect">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <h4>组织成员</h4>
                </div>
                <div class="float-right">
                    <p>选择一个组织成员</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col d-none organization-select">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <div id="organization-display"></div>
                </div>
                <div class="float-right">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#organization-modal_addUser">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;添加成员
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="w-100">
                    <div class="bd-highlight adbp-toolbar">
                        <div class="float-right">
                            <div class="input-group">
                                <input id="table-search" type="text" class="form-control" placeholder="search username">
                            </div>
                        </div>
                    </div>
                    <table id="table-members" class="display">
                        <thead>
                            <tr>
                                <th></th>
                                <th>用户名</th>
                                <th>名字</th>
                                <th>姓氏</th>
                                <th>添加时间</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="organization-modal_add" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="index-form_createOrganizationUnit" action="api/services/app/organizationUnit/createOrganizationUnit">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>新建根组织机构</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label adbp-mask">@L("DisplayName")</label>
                        <div class="col-sm-10">
                            <input type="text" name="DisplayName" data-vd="{name:'@L("DisplayName")', r:true, maxL:50}" class="form-control" placeholder="@L("DisplayName")">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                    <button type="button" class="btn btn-primary adbp-formSubmit">@L("Save")</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="organization-modal_addUser" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span>Select users</span>
                </h5>
            </div>
            <div class="modal-body">
                <div class="bd-highlight adbp-toolbar">
                    <div class="float-right">
                        <div class="input-group">
                            <input id="table-search_toselect" type="text" class="form-control" placeholder="search username">
                        </div>
                    </div>
                </div>
                <table id="table-toselect">
                    <thead>
                        <tr>
                            <th></th>
                            <th>用户名</th>
                            <th>名字</th>
                            <th>姓氏</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                <button type="button" id="organization-modal_addUser-submit" class="btn btn-primary">@L("Save")</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
       
        (function () {
            
            //init tree
            let tree = new abp.jstree('#organization-jstree')
                .useDefaultContextmenuItems();
            tree.data = function () {
                return abp.ajax({
                    url: '/api/services/app/organizationUnit/GetOrganizationUnits'
                });
            }
            tree.createNode = function (obj, parentId, newName) {
                return abp.services.app.organizationUnit.createOrganizationUnit({
                    DisplayName: newName,
                    ParentId: parentId
                });
            };
            tree.deleteNode = function (obj, id) {
                return abp.services.app.organizationUnit.deleteOrganizationUnit(id);
            };
            tree.renameNode = function (obj, id, newName) {
                return abp.services.app.organizationUnit.updateOrganizationUnit({
                    DisplayName: newName,
                    Id: id
                });
            };
            tree.changeNode = function () {
                if (this.isSingleSelected()) {
                    $(".organization-deselect").addClass("d-none");
                    $(".organization-select").removeClass("d-none");
                    $("#organization-display").html(this.singleSelected().displayName);
                    showMembers();
                }
                else {
                    $(".organization-deselect").removeClass("d-none");
                    $(".organization-select").addClass("d-none");
                }
            }
            tree.show();
            //init table
            let table_members = new abp.table.server("#table-members", {
                "order": [[0, "desc"]],
                "columnDefs": null,
                'ajax': {
                    url: '/zeroorganizationUnit/jsonGetOrganizationUserOuputs',
                    data: function (params) {
                        params.search.value = $("#table-search").val();
                        params.organizationUnitId = tree.singleSelectedId();
                        return params;
                    }
                },
                columns: [
                    {
                        render: function (data, type, full, meta) {
                            return `<button class="btn btn-default btn-xs btn-member_remove" title="删除">
                             <i class="fa fa-times" aria-hidden="true"></i>
                            </button>`;
                        }
                    },
                    { data: 'UserName' },
                    { data: 'Name' },
                    { data: 'Surname' },
                    {
                        data: 'CreationTime', render: function (data, type, full, meta) {
                            return abp.timing.datetimeStr(data);
                        }
                    },
                ]
            }).setStyle("rtip");

            function showMembers() {
                table_members.show().done(function (result) {
                    $("#table-members .btn-member_remove").off("click").on("click", function () {
                        let data = table_members.find($(this).closest("tr"));
                        console.log(data);
                        abp.message.confirm(`您确定要将用户 ${data.Surname}${data.Name}(${data.UserName}) 从组织 ${data.OrganizationUnitName} 中移除吗？`).done(function (ok) {
                            if (ok) {
                                abp.services.app.organizationUnit.deleteOrganizationUnitUser(data.OrganizationUnitId, data.Id).done(function (rslt) {
                                    abp.notify.success("操作成功");
                                    showMembers();
                                });
                            }
                        });
                    });
                });
            }

            let table_toSelect = new abp.table.server("#table-toselect", {
                "order": [[0, "desc"]],
                "select": 'multi',
                'ajax': {
                    url: '/zeroorganizationUnit/jsonGetUsersNotInOrganization',
                    data: function (params) {
                        params.search.value = $("#table-search_toselect").val();
                        params.organizationUnitId = tree.singleSelectedId();
                        return params;
                    }
                },
                columns: [
                    {
                        render: function (data, type, full, meta) {
                            return '';
                        }
                    },
                    { data: 'UserName' },
                    { data: 'Name' },
                    { data: 'Surname' },
                ]
            }).setStyle("rtip");

            $("#organization-modal_addUser-submit").on("click", function () {
                if (abp.isDispatched(this, "click")) {
                    return;
                }
                var data = $("#table-toselect").data("adbp_dt").allSelected().map(function (x) {
                    return {
                        OrganizationUnitId: tree.singleSelectedId(),
                        UserId: x.UserId
                    };
                });
                abp.services.app.organizationUnit.addOrganizationUnitUsers(data).done(function (rslt) {
                    abp.notify.success("操作成功");
                    $("#organization-modal_addUser").modal("hide");
                    showMembers();
                });
            });

            $("#organization-modal_addUser").on('shown.bs.modal', function (e) {
                table_toSelect.show();
            });

            $("#table-search").on("change", function () {
                if (abp.isDispatched(this, "change")) {
                    return;
                }
                showMembers();
            });

            $("#table-search_toselect").on("change", function () {
                if (abp.isDispatched(this, "change")) {
                    return;
                }
                table_toSelect.show();
            });
        })();
        
        abp.event.on('adbp.formsubmitInitialized', function () {
            let s = $("#index-form_createOrganizationUnit").data("adbp_formSubmit");
            s.afterSubmit = function () {
                let tree = $("#organization-jstree").data("adbp_jstree");
                tree.show();
            }
        });
    </script>
}