@using Adbp.Zero.SysObjectSettings
@using Adbp.Zero.Authorization.Roles.Dto
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = ZeroPageNames.RoleManagement;
}
@model RoleDto
<nav aria-label="breadcrumb">
    <ol class="breadcrumb adbp-breadcrumb-background">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/ZeroRoles">Roles</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</nav>
<div class="card adbp-background">
    <div class="card-header">
        <div class="row">
            <div class="col">Name: &nbsp;&nbsp;<span class="text-danger">@Model.Name</span></div>
            <div class="col">DisplayName: &nbsp;&nbsp;@Model.DisplayName</div>
            <div class="col">@Model.Description</div>
        </div>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#nav-basic">包含用户</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#nav-sysObjects">Objects访问</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-basic" role="tabpanel">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bd-highlight adbp-toolbar">
                            <div class="float-left">
                                <h5>拥有用户<small class="ml-2 text-muted">隶属于当前角色的所有用户</small></h5>
                            </div>
                            <div class="float-right">
                                <div class="input-group">
                                    <input id="table-members_search" type="text" class="form-control" placeholder="search all">
                                </div>
                            </div>
                        </div>
                        <table id="details-table_members" class="display">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>用户名</th>
                                    <th>名</th>
                                    <th>姓</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="bd-highlight adbp-toolbar">
                            <div class="float-left">
                                <h5>待添加用户<small class="ml-2 text-muted">不属于当前角色的其他用户</small></h5>
                            </div>
                            <div class="float-right">
                                <div class="input-group">
                                    <input id="table-toAdd_search" type="text" class="form-control" placeholder="search all">
                                </div>
                            </div>
                        </div>
                        <table id="details-table_toAdd" class="display">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>用户名</th>
                                    <th>名</th>
                                    <th>姓</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-sysObjects" role="tabpanel">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bd-highlight adbp-toolbar">
                            <div class="float-left">
                                <h5>访问级别<small class="ml-2 text-muted">对Objects的访问级别，ps创建者/Owner不受限制</small></h5>
                            </div>
                            <div class="float-right">
                                <div class="input-group">
                                    <input id="table-sysObjects_search" type="text" class="form-control" placeholder="search all">
                                </div>
                            </div>
                        </div>
                        <table id="table-details_sysObjects" class="display">
                            <thead>
                                <tr>
                                    <th>访问对象</th>
                                    <th>访问级别</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="w-100">
                                请先在左边选择某个Object
                            </div>
                        </div>
                        <div id="sysObject-selected" class="d-none">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" id="sysObject-selected_title"></h5>
                                    <form id="sysObject-selected_form" class="card-text" action="api/services/app/SysObjectSetting/upsertRoleSysObjectSetting" data-dt="#table-details_sysObjects">
                                        <input type="hidden" name="RoleId" value="@Model.Id" />
                                        <div class="form-group row ml-2">
                                            <label for="SysObject_Name" class="col-43 col-form-label">访问对象:</label>
                                            <div class="col-9">
                                                <input type="text" name="SysObjectName" readonly class="form-control-plaintext" id="SysObject_Name" value="">
                                            </div>
                                        </div>

                                        <div class="form-group ml-2">
                                            @*<div class="form-check form-check-inline">
                                                <input name="AccessLevel" class="form-check-input adbp-checkbox filled-in" type="checkbox" id="form-check-input_reject" value="@((int)AccessLevel.Reject)">
                                                <label class="form-check-label" for="form-check-input_reject">
                                                    @Ls("AdbpZero", "ENUM_AccessLevel_Reject")
                                                </label>
                                            </div>*@
                                            <div class="form-check form-check-inline">
                                                <input name="AccessLevel" class="form-check-input adbp-checkbox filled-in" type="checkbox" id="form-check-input_r" value="@((int)AccessLevel.Retrieve)">
                                                <label class="form-check-label" for="form-check-input_r">
                                                    @Ls("AdbpZero", "ENUM_AccessLevel_Retrieve")
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input name="AccessLevel" class="form-check-input adbp-checkbox filled-in" type="checkbox" id="form-check-input_c" value="@((int)AccessLevel.Create)">
                                                <label class="form-check-label" for="form-check-input_c">
                                                    @Ls("AdbpZero", "ENUM_AccessLevel_Create")
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input name="AccessLevel" class="form-check-input adbp-checkbox filled-in" type="checkbox" id="form-check-input_u" value="@((int)AccessLevel.Update)">
                                                <label class="form-check-label" for="form-check-input_u">
                                                    @Ls("AdbpZero", "ENUM_AccessLevel_Update")
                                                </label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input name="AccessLevel" class="form-check-input adbp-checkbox filled-in" type="checkbox" id="form-check-input_d" value="@((int)AccessLevel.Delete)">
                                                <label class="form-check-label" for="form-check-input_d">
                                                    @Ls("AdbpZero", "ENUM_AccessLevel_Delete")
                                                </label>
                                            </div>
                                        </div>
                                        <button type="button" class="ml-2 btn btn-primary adbp-formSubmit">@L("Save")</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var RoleId = '@Model.Id';
    </script>
    @Html.IncludeScript("~/wwwroot/es5/ZeroRoles/Details.js")
}