@using Adbp.Zero.Authorization.Roles.Dto
@using Abp.Application.Services.Dto
@using Adbp.Zero.Authorization
@{
    ViewBag.Title = "Index";
    ViewBag.ActiveMenu = ZeroPageNames.RoleManagement;
}
@{
    var superadminGroups = new string[] { "USER", "Role", "USER_ROLE", "SYSOBJECT", "OU_USER", "SETTING_LOG", "LOCALIZATION", "NOTIFICATION" };
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb adbp-breadcrumb-background">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Roles</li>
    </ol>
</nav>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="bd-highlight adbp-toolbar">
                    <div class="float-left">
                        <div class="input-group">
                            <button type="button" class="btn btn-outline-info adbp-toolbar-btn" data-toggle="modal" data-target="#RoleCreateModal" title="@L("Create")"
                                    @GetDisabledStrIfNotGranted(ZeroPermissionNames.Permissions_Role_Create)>
                                <i class="fas fa-plus fa-sm"></i>
                            </button>
                            <button id="btn-roleIndex_edit" type="button" class="btn btn-outline-info adbp-toolbar-btn" data-toggle="modal" data-target="#RoleEditModal" title="@L("Edit")" disabled="disabled">
                                <i class="fas fa-pencil-alt fa-sm"></i>
                            </button>
                            <button id="btn-roleIndex_delete" type="button" class="btn btn-outline-info adbp-toolbar-btn" title="@L("Delete")" disabled="disabled">
                                <i class="fas fa-trash-alt fa-sm"></i>
                            </button>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="input-group">
                            <input id="table-search" type="text" class="form-control" placeholder="search all">
                        </div>
                    </div>
                </div>
                <table id="rolesIndex-table" class="display">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@L("RoleName")</th>
                            <th>@L("DisplayName")</th>
                            <th>@L("LastModificationTime")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col role-deselect">
        <div class="card">
            <div class="card-header">
                <div class="float-left">
                    <h4>@L("RoleMember")</h4>
                </div>
                <div class="float-right">
                    <p>@L("SelectARole")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col d-none role-select accordion accordionPermissions">
        <form action="api/services/app/role/setPermissions" data-dt="#rolesIndex-table">
            @Html.Action("PermissionsSelection", "ZeroRoles")
        </form>
    </div>
</div>


<div class="modal fade" id="RoleCreateModal" tabindex="-1" role="dialog" aria-labelledby="RoleCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="roleCreateForm" action="api/services/app/role/createRole" data-dt="#rolesIndex-table">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-plus fa-sm text-primary"></i><span class="text-muted pl-2">@L("Create")</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label adbp-mask">@L("RoleName")</label>
                        <div class="col-sm-10">
                            <input type="text" name="Name" data-vd="{name:'@L("RoleName")', r:true, maxL:20}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label adbp-mask">@L("DisplayName")</label>
                        <div class="col-sm-10">
                            <input type="text" name="DisplayName" data-vd="{name:'@L("DisplayName")', r:true, maxL:32}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">@L("Description")</label>
                        <div class="col-sm-10">
                            <textarea name="Description" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                    <button type="button" class="btn btn-primary adbp-formSubmit">@L("Save")</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="RoleEditModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="roleEditForm" action="api/services/app/role/updateRole" data-dt="#rolesIndex-table">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fas fa-pencil-alt fa-sm text-primary"></i><span class="text-muted pl-2">@L("Edit")</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="Id" />
                    <input type="hidden" name="IsStatic" />
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label adbp-mask">@L("RoleName")</label>
                        <div class="col-sm-10">
                            <input type="text" name="Name" data-vd="{name:'@L("RoleName")', r:true, maxL:20}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label adbp-mask">@L("DisplayName")</label>
                        <div class="col-sm-10">
                            <input type="text" name="DisplayName" data-vd="{name:'@L("DisplayName")', r:true, maxL:20}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">@L("Description")</label>
                        <div class="col-sm-10">
                            <textarea name="Description" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                    <button type="button" class="btn btn-primary adbp-formSubmit">@L("Save")</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts {
    @Html.IncludeScript("~/wwwroot/es5/ZeroRoles/Index.js")
}
