@using Adbp.Zero.Authorization.Roles.Dto
@{
    ViewBag.Title = "Index";
    ViewBag.ActiveMenu = ZeroPageNames.UserManagement;
    var AllRoles = ViewBag.Roles as IReadOnlyList<RoleDto>;
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb adbp-breadcrumb-background">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>
<div class="card adbp-background">
    <div class="card-body">
        <div class="bd-highlight adbp-toolbar">
            <div class="float-left">
                <div class="input-group">
                    <button type="button" class="btn btn-outline-info adbp-toolbar-btn" data-toggle="modal" data-target="#modal-user_create" title="添加用户">
                        <i class="fas fa-plus fa-sm"></i>
                    </button>
                    <button id="btn-userIndex_edit" type="button" class="btn btn-outline-info adbp-toolbar-btn" data-toggle="modal" data-target="#modal-user_edit" title="编辑用户" disabled="disabled">
                        <i class="fas fa-pencil-alt fa-sm"></i>
                    </button>
                    <button id="btn-userIndex_delete" type="button" class="btn btn-outline-info adbp-toolbar-btn" title="删除用户" disabled="disabled">
                        <i class="fas fa-trash-alt fa-sm"></i>
                    </button>
                </div>
            </div>
            <div class="float-right">
                <div class="input-group">
                    <input id="table-search" type="text" class="form-control" placeholder="search">
                </div>
            </div>
        </div>
        <table id="userIndex-table" class="display">
            <thead>
                <tr>
                    <th></th>
                    <th>@L("UserName")</th>
                    <th>姓</th>
                    <th>名</th>
                    <th>激活</th>
                    <th>创建时间</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal fade" id="modal-user_create" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="api/services/app/user/CreateUser" data-dt="#userIndex-table">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>创建用户</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#nav-basic">User Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#nav-role">User Roles</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="nav-basic" role="tabpanel">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label adbp-mask">@L("UserName")</label>
                                <div class="col-sm-10">
                                    <input type="text" name="UserName" data-vd="{name:'@L("UserName")', r:true, maxL:100}" class="form-control" placeholder="@L("UserName")">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label adbp-mask">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="Name" data-vd="{name:'firstname', r:true, maxL:20}" class="form-control" placeholder="first name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label adbp-mask">Last Name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="Surname" class="form-control" data-vd="{name:'lastname', r:true, maxL:20}" placeholder="last name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label adbp-mask">Email Address</label>
                                <div class="input-group col-sm-10">
                                    <input name="EmailAddress" type="text" data-vd="{name:'@L("EmailAddress")', r:true, maxL:100}" class="form-control" placeholder="email address">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label adbp-mask">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" name="Password" data-vd="{name:'password', r:true, minL:6, maxL:20}" class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2 col-sm-10">
                                    <input name="IsActive" class="form-check-input adbp-checkbox filled-in" type="checkbox" value="true" id="IsActive2" data-checkbox="false">
                                    <label class="form-check-label" for="IsActive2">
                                        @L("IsActive")
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="nav-role" role="tabpanel">
                            <div class="form-group row">
                                @foreach (var item in AllRoles)
                                {
                                    var roleId = "c_role_" + item.Id;
                                    <div class="col-sm-3">
                                        <input name="RoleIds" class="form-check-input adbp-checkbox filled-in" type="checkbox" value="@(item.Id)" id="@roleId">
                                        <label class="form-check-label" for="@roleId">
                                            @(item.DisplayName)
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                    <button type="button" class="btn btn-primary adbp-formSubmit">@L("Save")</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-user_edit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="api/services/app/user/UpdateUser" data-dt="#userIndex-table">
                <input type="hidden" name="Id" />
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>@L("EditRole")</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#nav-basic2">User Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#nav-role2">User Roles</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="nav-basic2" role="tabpanel">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label adbp-mask">@L("UserName")</label>
                                <div class="col-sm-10">
                                    <input type="text" name="UserName" data-vd="{name:'@L("UserName")', r:true, maxL:100}" class="form-control" placeholder="@L("UserName")">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label adbp-mask">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="Name" data-vd="{name:'firstname', r:true, maxL:20}" class="form-control" placeholder="first name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label adbp-mask">Last Name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="Surname" class="form-control" data-vd="{name:'lastname', r:true, maxL:20}" placeholder="last name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label adbp-mask">Email Address</label>
                                <div class="input-group col-sm-10">
                                    <input name="EmailAddress" type="text" data-vd="{name:'@L("EmailAddress")', r:true, maxL:100}" class="form-control" placeholder="email address">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-2 col-sm-10">
                                    <input name="IsActive" class="form-check-input adbp-checkbox filled-in" type="checkbox" value="true" id="IsActive" checked="checked" data-checkbox="false">
                                    <label class="form-check-label" for="IsActive">
                                        @L("IsActive")
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="nav-role2" role="tabpanel">
                            <div class="form-group row">
                                @foreach (var item in AllRoles)
                                {
                                    var roleId = "e_role_" + item.Id;
                                    <div class="col-sm-3">
                                        <input name="RoleIds" class="form-check-input adbp-checkbox filled-in" type="checkbox" value="@(item.Id)" id="@roleId">
                                        <label class="form-check-label" for="@roleId">
                                            @(item.DisplayName)
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@L("Cancel")</button>
                    <button type="button" class="btn btn-primary adbp-formSubmit">@L("Save")</button>
                </div>
            </form>

        </div>
    </div>
</div>
@section scripts {
    @Html.IncludeScript("~/wwwroot/es5/ZeroUsers/Index.js")
}
