@using Adbp.Sample
@using Adbp.Zero.MVC.Models.Account
@model LoginFormViewModel
@{
    ViewBag.Title = "Login";
}
<style>
    html,
    body {
        height: 100%;
        position: relative;
    }

    .loginCard {
        max-width: 500px;
        margin: auto;
        margin-top: 150px;
        padding: 1.5rem;
        border-width: .2rem;
        background-color: lightgray;
    }

    .loginCard-header {
        height: 50px;
        text-align:center;
    }

    .loginCard-header .brand {
        font-size:2rem;
    }

    .loginCard-footer {
        text-align: center;
    }
</style>
<div class="loginCard">
    <div class="loginCard-header">
        <div class="brand">ADBP</div>
        @if (ViewBag.IsMultiTenancyEnabled)
        {
            @Html.Action("TenantChange", "Account")
        }
    </div>
    <div class="loginCard-body">
        <form class="adbp-ajaxForm" method="post" action="/ZeroAccount/Login">
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
            <h4 class="text-center">@L("LogIn")</h4>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">UserName</label>
                <div class="col-sm-10">
                    <input type="text" name="UsernameOrEmailAddress" class="form-control" aria-describedby="emailHelp" placeholder="@L("UserNameOrEmail")">
                </div>
                <div class="col-sm-12">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input name="Password" type="password" class="form-control" placeholder="@L("Password")">
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10 ">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="RememberMe" value="true" id="rememberme">
                        <label class="form-check-label" for="rememberme">@L("RememberMe")</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="loginCard-footer">
        <small>&copy; @DateTime.Now.Year Sample. <b>Version </b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]</small>
    </div>
</div>